In [3]:
import numpy as np
import pandas as pd
#import tensorflow as tf
#import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:
df = pd.read_csv(r"C:\Users\priya\Documents\New folder\ML\project\How-To-Not-Lose-A-Customer-In-10-Days.-main\98efc33085a711eb\dataset\train.csv")

In [5]:
df.head()
no_rows = df.shape[0]
no_columns = df.shape[1]

In [6]:
df = df.drop(['customer_id','Name','security_no','referral_id'],axis = 1)

In [7]:
df.head()

,age,gender,region_category,membership_category,joining_date,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,18,F,Village,Platinum Membership,2017-08-17,No,Gift Vouchers/Coupons,?,Wi-Fi,16:08:02,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,32,F,City,Premium Membership,2017-08-28,?,Gift Vouchers/Coupons,Desktop,Mobile_Data,12:38:13,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,44,F,Town,No Membership,2016-11-11,Yes,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,37,M,City,No Membership,2016-10-29,Yes,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,31,F,City,No Membership,2017-09-12,No,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [8]:
df['last_visit_time']

0        16:08:02
1        12:38:13
2        22:53:21
3        15:57:50
4        15:46:44
           ...
36987    04:14:05
36988    23:18:31
36989    03:50:25
36990    09:50:03
36991    01:39:52
Name: last_visit_time, Length: 36992, dtype: object

In [9]:
 #This step converts all the missing and irrelevant data  present in the dataframe to NaN
def convert_to_NaN(df):
    for column in df:
        df[column] = df[column].apply(lambda x: np.nan if x == '?' or x == 'Error' or x == 'No Information Available' or x == 'No reason specified' else x)        
    df.fillna(0,inplace = True)
    return df

In [10]:
df = convert_to_NaN(df)
#convert negatives to zero
num = df._get_numeric_data()
num[num<0] = 0

In [11]:
df

,age,gender,region_category,membership_category,joining_date,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,18,F,Village,Platinum Membership,2017-08-17,No,Gift Vouchers/Coupons,0,Wi-Fi,16:08:02,...,300.63,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,32,F,City,Premium Membership,2017-08-28,0,Gift Vouchers/Coupons,Desktop,Mobile_Data,12:38:13,...,306.34,12838.38,10.0,0.000000,Yes,No,Yes,Solved,Quality Customer Care,1
2,44,F,Town,No Membership,2016-11-11,Yes,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,...,516.16,21027.00,22.0,500.690000,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,37,M,City,No Membership,2016-10-29,Yes,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,...,53.27,25239.56,6.0,567.660000,No,Yes,Yes,Unsolved,Poor Website,5
4,31,F,City,No Membership,2017-09-12,No,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,...,113.13,24483.66,16.0,663.060000,No,Yes,Yes,Solved,Poor Website,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,46,F,0,Basic Membership,2017-09-21,No,Credit/Debit Card Offers,Desktop,Wi-Fi,04:14:05,...,0.00,27277.68,6.0,639.510000,No,Yes,Yes,0,0,4
36988,29,F,Town,Basic Membership,2016-06-27,No,Without Offers,Smartphone,Wi-Fi,23:18:31,...,0.00,11069.71,28.0,527.990000,Yes,No,No,Not Applicable,Poor Customer Service,5
36989,23,F,0,Basic Membership,2016-09-11,Yes,Gift Vouchers/Coupons,Desktop,Wi-Fi,03:50:25,...,154.94,38127.56,0,680.470000,No,Yes,Yes,Unsolved,Poor Website,4
36990,53,M,Village,Platinum Membership,2017-06-15,No,Gift Vouchers/Coupons,Smartphone,Mobile_Data,09:50:03,...,482.61,2378.86,20.0,197.264414,Yes,Yes,No,Not Applicable,0,3
36991,35,M,Town,Silver Membership,2015-10-23,No,Gift Vouchers/Coupons,Desktop,Mobile_Data,01:39:52,...,79.18,2189.68,0,719.970000,Yes,No,No,Not Applicable,Quality Customer Care,2

In [12]:
def convert_time(df):
    df['last_visit_time'] = pd.to_datetime(df['last_visit_time'],format = '%H:%M:%S')
    reference_time = ['23:59:59']*no_rows
    df['reference_time'] = reference_time
    df['reference_time'] = pd.to_datetime(df['reference_time'],format = '%H:%M:%S')
    df['seconds_since_last_visit'] = ( df['reference_time'] - df['last_visit_time'] ).dt.total_seconds()
    #df['seconds_since_last_visit']
    df = df.drop(['last_visit_time','reference_time'],axis = 1)
    return df

In [13]:
def convert_date(df):
    df['joining_date'] = pd.to_datetime(df['joining_date'], format = "%Y-%m-%d")
    const = ['2021-12-31']*no_rows
    df['const'] = const
    df['const'] = pd.to_datetime(df['const'], format = "%Y-%m-%d")
    #df['const']
    df['days_since_joining'] = df['const'] - df['joining_date']    
    df['days_since_joining'] = df['days_since_joining'] / np.timedelta64(1,'D')
    df = df.drop(['joining_date','const'],axis = 1)
    #df
    return df

In [14]:
def Encoder(df):
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = LabelEncoder()
          for feature in columnsToEncode:
              df[feature] = le.fit_transform(df[feature].astype(str))  
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [15]:
df = convert_time(df)
df = convert_date(df)
df = Encoder(df)
df

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,seconds_since_last_visit,days_since_joining
0,18,0,3,3,1,2,0,2,17,300.63,...,747,781.750000,1,1,0,1,4,2,28317.0,1597.0
1,32,0,1,4,0,2,2,1,16,306.34,...,733,0.000000,1,0,1,2,5,1,40906.0,1586.0
2,44,0,2,2,2,2,2,2,14,516.16,...,780,500.690000,0,1,1,3,3,5,3998.0,1876.0
3,37,1,1,2,2,2,2,1,11,53.27,...,1638,567.660000,0,1,1,4,3,5,28929.0,1889.0
4,31,0,1,2,1,1,3,1,20,113.13,...,744,663.060000,0,1,1,2,3,5,29595.0,1571.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,46,0,0,0,1,1,2,2,2,0.00,...,1638,639.510000,0,1,1,0,0,4,71154.0,1562.0
36988,29,0,2,0,1,3,3,2,13,0.00,...,810,527.990000,1,0,0,1,1,5,2488.0,2013.0
36989,23,0,0,0,2,2,2,2,12,154.94,...,683,680.470000,0,1,1,4,3,4,72574.0,1937.0
36990,53,1,3,3,1,2,3,1,15,482.61,...,775,197.264414,1,1,0,1,0,3,50996.0,1660.0
36991,35,1,2,5,1,2,2,1,15,79.18,...,683,719.970000,1,0,0,1,5,2,80407.0,2261.0

In [16]:
#feature scaling 
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
df[['avg_time_spent','avg_transaction_value','avg_frequency_login_days','days_since_last_login','points_in_wallet','seconds_since_last_visit','days_since_joining']] = Scaler.fit_transform(df[['avg_time_spent','avg_transaction_value','avg_frequency_login_days','days_since_last_login','points_in_wallet','seconds_since_last_visit','days_since_joining']])
df

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,seconds_since_last_visit,days_since_joining
0,18,0,3,3,1,2,0,2,0.653846,0.092914,...,0.451906,0.377827,1,1,0,1,4,2,0.327747,0.124201
1,32,0,1,4,0,2,2,1,0.615385,0.094679,...,0.443436,0.000000,1,0,1,2,5,1,0.473455,0.114155
2,44,0,2,2,2,2,2,2,0.538462,0.159526,...,0.471869,0.241988,0,1,1,3,3,5,0.046274,0.378995
3,37,1,1,2,2,2,2,1,0.423077,0.016464,...,0.990926,0.274355,0,1,1,4,3,5,0.334830,0.390868
4,31,0,1,2,1,1,3,1,0.769231,0.034964,...,0.450091,0.320463,0,1,1,2,3,5,0.342539,0.100457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,46,0,0,0,1,1,2,2,0.076923,0.000000,...,0.990926,0.309081,0,1,1,0,0,4,0.823551,0.092237
36988,29,0,2,0,1,3,3,2,0.500000,0.000000,...,0.490018,0.255182,1,0,0,1,1,5,0.028797,0.504110
36989,23,0,0,0,2,2,2,2,0.461538,0.047886,...,0.413188,0.328877,0,1,1,4,3,4,0.839987,0.434703
36990,53,1,3,3,1,2,3,1,0.576923,0.149157,...,0.468845,0.095340,1,1,0,1,0,3,0.590238,0.181735
36991,35,1,2,5,1,2,2,1,0.576923,0.024472,...,0.413188,0.347968,1,0,0,1,5,2,0.930647,0.730594

In [17]:
#Y is the dependent variable or output
Y = df.iloc[:,-3].values
Y
df = df.drop(['churn_risk_score'],axis = 1)
df

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,seconds_since_last_visit,days_since_joining
0,18,0,3,3,1,2,0,2,0.653846,0.092914,0.526717,0.451906,0.377827,1,1,0,1,4,0.327747,0.124201
1,32,0,1,4,0,2,2,1,0.615385,0.094679,0.121456,0.443436,0.000000,1,0,1,2,5,0.473455,0.114155
2,44,0,2,2,2,2,2,2,0.538462,0.159526,0.204074,0.471869,0.241988,0,1,1,3,3,0.046274,0.378995
3,37,1,1,2,2,2,2,1,0.423077,0.016464,0.246577,0.990926,0.274355,0,1,1,4,3,0.334830,0.390868
4,31,0,1,2,1,1,3,1,0.769231,0.034964,0.238950,0.450091,0.320463,0,1,1,2,3,0.342539,0.100457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,46,0,0,0,1,1,2,2,0.076923,0.000000,0.267140,0.990926,0.309081,0,1,1,0,0,0.823551,0.092237
36988,29,0,2,0,1,3,3,2,0.500000,0.000000,0.103611,0.490018,0.255182,1,0,0,1,1,0.028797,0.504110
36989,23,0,0,0,2,2,2,2,0.461538,0.047886,0.376609,0.413188,0.328877,0,1,1,4,3,0.839987,0.434703
36990,53,1,3,3,1,2,3,1,0.576923,0.149157,0.015925,0.468845,0.095340,1,1,0,1,0,0.590238,0.181735
36991,35,1,2,5,1,2,2,1,0.576923,0.024472,0.014016,0.413188,0.347968,1,0,0,1,5,0.930647,0.730594

In [18]:
#used here to transform categorical data
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('cat', OneHotEncoder(), ['gender','region_category','membership_category','joined_through_referral','preferred_offer_types','medium_of_operation','internet_option','used_special_discount','offer_application_preference','past_complaint','complaint_status','feedback'])], remainder='passthrough')
X = np.array(ct.fit_transform(df))

In [19]:
X

array([[1.        , 0.        , 0.        , ..., 0.3778268 , 0.32774685,
        0.12420091],
       [1.        , 0.        , 0.        , ..., 0.        , 0.47345455,
        0.11415525],
       [1.        , 0.        , 0.        , ..., 0.24198797, 0.04627368,
        0.37899543],
       ...,
       [1.        , 0.        , 0.        , ..., 0.32887726, 0.83998657,
        0.4347032 ],
       [0.        , 1.        , 0.        , ..., 0.09533966, 0.59023831,
        0.18173516],
       [0.        , 1.        , 0.        , ..., 0.34796797, 0.93064735,
        0.73059361]])

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, train_size = 0.8, random_state = 42)

In [21]:
'''from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(n_estimators = 1000, criterion = 'entropy',n_jobs=-1, random_state = 22, verbose = 1)'''

"from sklearn.ensemble import RandomForestClassifier \nmodel = RandomForestClassifier(n_estimators = 1000, criterion = 'entropy',n_jobs=-1, random_state = 22, verbose = 1)"

In [22]:
'''from sklearn import model_selection'''

'from sklearn import model_selection'

In [23]:
#scores = model_selection.cross_val_score(model, X_train, y_train, cv = 5)
#print(scores)

In [24]:
'''model.fit(X_train, y_train)'''

'model.fit(X_train, y_train)'

In [25]:
'''print(model.score(X_test, y_test))'''

'print(model.score(X_test, y_test))'

In [26]:
'''from sklearn.linear_model import LogisticRegression 
clf = LogisticRegression(random_state = 0, max_iter = 100)
clf.fit(X_train, y_train)
print(clf.score(X_test,y_test))'''

'from sklearn.linear_model import LogisticRegression \nclf = LogisticRegression(random_state = 0, max_iter = 100)\nclf.fit(X_train, y_train)\nprint(clf.score(X_test,y_test))'

In [27]:
'''from sklearn.svm import SVC
svm = SVC(probability = True)
svm.fit(X_train, y_train)
print(svm.score(X_test, y_test))'''

'from sklearn.svm import SVC\nsvm = SVC(probability = True)\nsvm.fit(X_train, y_train)\nprint(svm.score(X_test, y_test))'

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

clf = LogisticRegression(random_state = 0, max_iter = 1000)
model = RandomForestClassifier(n_estimators = 1000, criterion = 'entropy',n_jobs=-1, random_state = 22, verbose = 1)
svm = SVC(probability = True)

voting_clf = VotingClassifier(
    estimators = [('lr', clf), ('rf', model), ('svm', svm)],
    voting = 'soft')
voting_clf.fit(X_train, y_train)
print(voting_clf.score(X_test, y_test))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done 238 tasks      | elapsed:    5.7s
[Parallel(n_jobs=-1)]: Done 738 tasks      | elapsed:   14.7s
[Parallel(n_jobs=-1)]: Done 989 out of 1000 | elapsed:   19.0s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:   19.2s finished

In [31]:
from sklearn.ensemble import BaggingClassifier 
from sklearn.tree import DecisionTreeClassifier

bag_clf = BaggingClassifier(
    DecisionTreeClassifier(), n_estimators = 500,
    max_samples = 100, bootstrap = True, n_jobs = -1)
bag_clf.fit(X_train, y_train)
bag_clf.score(X_test, y_test)

0.6771185295310177